$--color: (
  "primary": #0d6efd,
  "success": #00b450,
  "danger": #dc3545,
  "warn": #ffc107,
  "info": #0dcaf0,
  "white": #ffffff,
  "black": #000000,
  "light": mix(#000000, #ffffff, 4%),
  "dark": mix(#000000, #ffffff, 96%),
  "disabled": mix(#000000, #ffffff, 25%),
  "border": mix(#000000, #ffffff, 15%),
  "placeholder": mix(#000000, #ffffff, 15%),
  "divider": mix(#000000, #ffffff, 6%),
  "mask": rgba(#000000, 0.3)
);

// 主题色
:root {
  --color-primary: #{map-get($--color, "primary")};
  --color-success: #{map-get($--color, "success")};
  --color-danger: #{map-get($--color, "danger")};
  --color-warn: #{map-get($--color, "warn")};
  --color-info: #{map-get($--color, "info")};
  --color-white: #{map-get($--color, "white")};
  --color-black: #{map-get($--color, "black")};
  --color-light: #{map-get($--color, "light")};
  --color-dark: #{map-get($--color, "dark")};
  --color-disabled: #{map-get($--color, "disabled")};
  --color-border: #{map-get($--color, "border")};
  --color-placeholder: #{map-get($--color, "placeholder")};
  --color-divider: #{map-get($--color, "divider")};
  --color-mask: #{map-get($--color, "mask")};
}

// 字体颜色
:root {
  --text-color-primary: #{map-get($--color, "black")};
  --text-color-secondary: #{mix(map-get($--color, "black"), map-get($--color, "white"), 65%)};
  --text-color-tertiary: #{mix(map-get($--color, "black"), map-get($--color, "white"), 45%)};
}

// 阴影颜色
:root {
  --shadow-color-primary: #{rgba(map-get($--color, "black"), 0.16)};
  --shadow-color-secondary: #{rgba(map-get($--color, "black"), 0.12)};
  --shadow-color-tertiary: #{rgba(map-get($--color, "black"), 0.08)};
}
