:root {
  --yuumi-input-border-width: var(--border-width);
  --yuumi-input-border-style: solid;
  --yuumi-input-border-radius: var(--border-radius);
}

$namespace: "yuumi-input";

.#{$namespace} {
  & {
    display: inline-table;
    border-width: 0px !important;
    border-style: var(--yuumi-input-border-style);
    border-color: var(--color-border);
    overflow: auto;
    border-radius: var(--yuumi-input-border-radius);
  }

  &__content,
  &__prefix,
  &__suffix {
    box-sizing: border-box;
    border-width: 0;
    border-style: inherit;
    border-color: inherit;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &__content {
    border-width: var(--yuumi-input-border-width);
    line-height: 0;
    vertical-align: middle;
    position: relative;
    border-radius: var(--yuumi-input-border-radius);

    input {
      width: 100%;
      border: none;
      background-color: inherit;
      color: inherit;
      box-sizing: border-box;
      outline: none;
      transition: border-color 0.2s;

      &::placeholder {
        color: var(--color-placeholder);
      }
    }
  }

  &__suffix .line-circle-close {
    cursor: pointer;
  }

  &--focus {
    border-color: var(--color-primary);
  }
}

@each $key, $value in $--height {
  .#{$namespace}--#{$key} {
    height: var(--height-#{$key});

    .#{$namespace}__prefix,
    .#{$namespace}__suffix {
      width: var(--height-#{$key});
    }

    input {
      height: 100%;
      padding: 0 calc(var(--height-#{$key}) * 0.25);
    }

    &.#{$namespace}--round {
      border-radius: var(--height-#{$key});

      .#{$namespace}__content {
        border-radius: var(--height-#{$key});

        input {
          padding: 0 calc(var(--height-#{$key}) * 0.5);
        }
      }

      &.#{$namespace}--prefix-icon {
        .#{$namespace}__prefix {
          border-top-left-radius: var(--height-#{$key});
          border-bottom-left-radius: var(--height-#{$key});
        }
      }

      &.#{$namespace}--suffix-icon {
        .#{$namespace}__suffix {
          border-top-right-radius: var(--height-#{$key});
          border-bottom-right-radius: var(--height-#{$key});
        }
      }
    }
  }
}

.#{$namespace}--prefix-icon {
  .#{$namespace}__prefix {
    border-width: var(--yuumi-input-border-width);
    border-right-width: 0;
    border-top-left-radius: var(--yuumi-input-border-radius);
    border-bottom-left-radius: var(--yuumi-input-border-radius);
  }

  .#{$namespace}__content {
    border-left-width: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    input {
      padding-left: 0 !important;
    }
  }
}

.#{$namespace}--suffix-icon {
  .#{$namespace}__suffix {
    border-width: var(--yuumi-input-border-width);
    border-left-width: 0;
    border-top-right-radius: var(--yuumi-input-border-radius);
    border-bottom-right-radius: var(--yuumi-input-border-radius);
  }

  .#{$namespace}__content {
    border-right-width: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    input {
      padding-right: 0 !important;
    }
  }
}

.#{$namespace}--prefix {
  .#{$namespace}__prefix {
    border: none;
  }

  .#{$namespace}__content {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.#{$namespace}--suffix {
  .#{$namespace}__content {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
