$namespace: "yuumi-slider";

.#{$namespace} {
  overflow: hidden;
  user-select: none;

  &__content {
    position: relative;
    box-sizing: border-box;
  }

  &__bar {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-round);
    background-color: var(--color-primary);
    position: relative;
    overflow: hidden;
  }

  &__bar--min,
  &__bar--max {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: var(--border-radius-round);
    background-color: var(--color-placeholder);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  &__stops {
    position: absolute;
  }

  &__stops-item {
    position: absolute;
    border-radius: var(--border-radius-circle);
    background-color: var(--color-white);
  }

  &__btn {
    position: absolute;
  }

  &__btn--min,
  &__btn--max {
    border-radius: var(--border-radius-circle);
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    position: absolute;
    cursor: grab;
    transition:
      transform 0.3s,
      border 0.3s;
  }
}

.#{$namespace}--disabled {
  .#{$namespace}__bar {
    background-color: var(--color-disabled);
  }

  .#{$namespace}__bar--min,
  .#{$namespace}__bar--max {
    background-color: var(--color-light);
  }

  .#{$namespace}__btn--min,
  .#{$namespace}__btn--max {
    cursor: no-drop;
    border-color: var(--color-disabled);
  }
}

.#{$namespace}--vertical {
  height: 100%;
  display: inline-block;

  .#{$namespace}__btn {
    height: 100%;
    left: 50%;
    top: 0;
  }

  .#{$namespace}__bar--min {
    top: -100%;
  }

  .#{$namespace}__bar--max {
    top: 0;
  }

  .#{$namespace}__stops {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .#{$namespace}__stops-item {
    left: 50%;
    transform: translateX(-50%);
  }

  .#{$namespace}__btn--min {
    top: 0;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    &:hover,
    &._selected {
      transform: translate3d(-50%, -50%, 0) scale(1.2);
    }
  }

  .#{$namespace}__btn--max {
    left: 50%;
    bottom: 100%;
    transform: translate3d(-50%, 50%, 0);

    &:hover,
    &._selected {
      transform: translate3d(-50%, 50%, 0) scale(1.2);
    }
  }

  &.#{$namespace}--disabled {
    .#{$namespace}__btn--min:hover {
      transform: translate3d(-50%, -50%, 0) scale(1);
    }

    .#{$namespace}__btn--max:hover {
      transform: translate3d(-50%, 50%, 0) scale(1);
    }
  }
}

.#{$namespace}--horizontal {
  width: 100%;
  .#{$namespace}__btn {
    width: 100%;
    left: 0;
    top: 50%;
  }

  .#{$namespace}__bar--min {
    left: -100%;
  }

  .#{$namespace}__bar--max {
    left: 0;
  }

  .#{$namespace}__stops {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .#{$namespace}__stops-item {
    top: 50%;
    transform: translateY(-50%);
  }

  .#{$namespace}__btn--min {
    top: 50%;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
    &:hover,
    &._selected {
      transform: translate3d(-50%, -50%, 0) scale(1.2);
    }
  }

  .#{$namespace}__btn--max {
    top: 50%;
    right: 100%;
    transform: translate3d(50%, -50%, 0);

    &:hover,
    &._selected {
      transform: translate3d(50%, -50%, 0) scale(1.2);
    }
  }

  &.#{$namespace}--disabled {
    .#{$namespace}__btn--min:hover {
      transform: translate3d(-50%, -50%, 0) scale(1);
    }

    .#{$namespace}__btn--max:hover {
      transform: translate3d(50%, -50%, 0) scale(1);
    }
  }
}

.#{$namespace}__tooltip {
  .#{$namespace}__value {
    border-color: var(--color-dark);
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: var(--space-vertical-sm) var(--space-horizontal-xm);
    font-size: var(--font-size-xm);
    border-radius: var(--border-radius);
  }

  @each $type in ("top", "bottom", "left", "right") {
    &[data-popper-placement^="#{$type}"] {
      .yuumi-popper__arrow {
        border-#{$type}-color: var(--color-dark);

        &::after {
          border-#{$type}-color: var(--color-dark);
        }
      }
    }
  }
}
