$namespace: "yuumi-tree";

.#{$namespace} {
  &--inline &-node__content {
    display: inline-flex;
  }
}

.#{$namespace}-node {
  overflow: hidden;
  cursor: pointer;

  &__content {
    display: flex;
    align-items: center;

    > :not(:first-child) {
      margin-left: 0.5em;
    }
  }

  &__label {
    flex: 1 1 auto;
    padding-right: var(--space-horizontal-xm);
  }

  &__children {
    overflow: hidden;
  }

  &__expand {
    transition: transform 0.2s;
    transform: rotate(0);
  }

  &-enter-active,
  &-leave-active {
    transition: height 0.2s;
  }
  &-enter-from,
  &-leave-to {
    height: 0;
  }
}

.#{$namespace}-node {
  &__expand._loading {
    animation: childrenNodesLoading 1s linear infinite;
  }

  &--leaf.has-expand-icon {
    padding-left: 1.5em;
  }

  .is-expand &__expand {
    transform: rotate(90deg);
  }

  .yuumi-icon {
    line-height: 1em;
  }

  .yuumi-checkbox__content {
    padding-left: 0;
  }
}

@keyframes childrenNodesLoading {
  100% {
    transform: rotate(1turn);
  }
}
