
@import "../../../styles/mixin.scss";

.yuumi-date-picker {
  display: inline-table;
  box-sizing: border-box;
  @include Border();
  @include BorderRadius();
  cursor: pointer;

  .picker__icon, .picker__content, .picker__suffix {
    display: table-cell;
    vertical-align: middle;
  }

  .picker__icon, .placeholder, .picker__suffix {
    @include ColorWithKey("placeholder");
  }

  .picker__content {
    .content-hyphen {
      @include Space("padding-top", 0);
      @include Space("padding-right", "xm");
      @include Space("padding-bottom", 0);
      @include Space("padding-left", "xm");
    }

    .content-date {
      min-width: 70px;
      display: inline-block;
      text-align: center;
    }
  }

  @each $key, $value in $--height {
    &.size__#{$key} {
      height: $value;

      .picker__icon, .picker__suffix {
        text-align: center;
        width: $value;
      }

      .picker__icon {
        font-size: $value*0.5;
      }
    }
  }

  &.__focus {
    @include BorderColorWithKey("primary");
  }

  &.__disabled {
    @include BorderColorWithKey("disabled");
    @include TextColor("secondary");
    cursor: no-drop;
    opacity: 0.5;
    user-select: none;
  }
}

.yuumi-date-picker__popper {
  @include Shadow();

  .panel__times {
    display: table;
    width: 100%;
    @include Border($attr: "border-bottom");
    @include Space("padding-top", "xxm");
    @include Space("padding-right", "sm");
    @include Space("padding-bottom", "xxm");
    @include Space("padding-left", "sm");
    box-sizing: border-box;

    >span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;

      &.date-text {
        width: 110px;
      }

      &.date-time {
        width: 140px;
      }
    }

    &._disabled {
      .date-text {
        @include ColorWithKey("placeholder");
        opacity: 0.5;
      }
    }
  }

  .panels {
    white-space: nowrap;

    .panel__slot {
      position: relative;
      text-align: center;
      @include Space("padding", "sm");
      font-size: 16px;

      .slot__content {
        margin: 0 60px;
      }

      .prev-year, .prev-month {
        float: left;
        @include Space("margin-right", "sm");
        cursor: pointer;

        &:hover {
          @include ColorWithKey("primary");
        }
      }

      .next-year, .next-month {
        float: right;
        @include Space("margin-left", "sm");
        cursor: pointer;

        &:hover {
          @include ColorWithKey("primary");
        }
      }

      .render__year, .render__month {
        display: inline-block;
        @include Space("padding-top", 0);
        @include Space("padding-right", "xm");
        @include Space("padding-bottom", 0);
        @include Space("padding-left", "xm");
        font-weight: bold;
      }

      .render__month {
        width: 2em;
      }
    }
  }

  .date-picker-btns {
    @include Border($attr: "border-top");
    text-align: right;
    @include Space("padding-top", "xxm");
    @include Space("padding-right", "sm");
    @include Space("padding-bottom", "xxm");
    @include Space("padding-left", "sm");

    >span {
      @include Space("margin-left", "sm");
      cursor: pointer;
      font-size: 14px;
      line-height: 30px;

      &:nth-child(2) {
        @include ColorWithKey("primary");
      }

      &.err-msg {
        float: left;
        margin-left: 0;
        @include ColorWithKey("danger");
      }
    }
  }
}