@import "../../../styles/mixin.scss";

$_size_default: getHeightWithKey("sm");
$_size_mini: getHeightWithKey("xm");

.yuumi-step {
  display: flex;

  .yuumi-step-item {
    position: relative;
    flex: 1 1 auto;

    &:last-child {
      flex: none;

      .step-item__line {
        display: none;
      }
    }

    &.__completed {
      .step-item__icon {
        @include BorderColorWithKey("primary");
        @include ColorWithKey("primary");
      }
    }

    &.__processing {
      .step-item__icon {
        @include BorderColorWithKey("primary");
        @include BackgroundColorWithKey("primary");
        @include ColorWithKey("white");

        &.__custom {
          @include ColorWithKey("primary");
        }
      }

      .step-item__body {
        @include TextColor();
      }
    }

    &.__waiting {
      .step-item__icon {
        @include ColorWithKey("border");
        @include BorderColorWithKey("border");
      }
    }

    &.__error {
      .step-item__icon {
        @include ColorWithKey("danger");
        @include BorderColorWithKey("danger");
        @include BackgroundColorWithKey("white");
      }

      .step-item__body {
        @include ColorWithKey("danger");
      }
    }

    .step-item__icon {
      float: left;
      position: relative;
      z-index: 1;

      width: $_size_default;
      height: $_size_default;
      border: 1px solid transparent;
      @include BackgroundColorWithKey("white");
      border-radius: 50%;
      box-sizing: border-box;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.3s;

      &.__custom {
        font-size: 1.14em;
        @include BackgroundColorWithKey("white");
        @include BorderColorWithKey("white");
      }
    }

    .step-item__body {
      position: relative;
      z-index: 1;

      display: table-cell;
      color: getMixColorWithKey("black", "white", 45%);
    }

    .step-item__line {
      position: absolute;
      box-sizing: border-box;

      &::before {
        content: " ";
        display: block;
        @include BackgroundColorWithKey("border");
      }
    }

    .step-item__title {
      display: inline-block;
      @include Space("padding-left", "xm");
      @include Space("padding-right", "xm");
      font-weight: bold;
      line-height: $_size_default;
      @include FontSize("sm");
      @include BackgroundColorWithKey("white");
    }

    .step-item__description  {
      @include Space("padding-left", "xm");
      @include Space("padding-right", "xm");
      @include FontSize("xm");
    }
  }

  &.__horizontal {
    flex-direction: row;

    .yuumi-step-item:not(:last-child) {
      @include Space("padding-right", "sm");
    }

    .step-item__line {
      padding-left: getSpaceWithKey("xm") + $_size_default;
      @include Space("padding-right", "xm");
      width: 100%;
      top: $_size_default*0.5;
      left: 0;
      transform: translateY(-50%);

      &::before {
        width: 100%;
        height: 2px;
      }
    }
  }

  &.__vertical {
    height: 100%;
    flex-direction: column;

    .yuumi-step-item:not(:last-child) {
      @include Space("padding-bottom", "sm");
    }

    .step-item__line {
      padding-top: getSpaceWithKey("xm") + $_size_default;
      @include Space("padding-bottom", "xm");
      height: 100%;
      top: 0;
      left: $_size_default*0.5;
      transform: translateX(-50%);

      &::before {
        height: 100%;
        width: 2px;
      }
    }
  }

  &.__mini {
    .yuumi-step-item {
      .step-item__icon {
        width: $_size_mini;
        height: $_size_mini;
      }

      .step-item__title {
        line-height: $_size_mini;
      }
    }

    &.__horizontal .yuumi-step-item .step-item__line {
      padding-left: getSpaceWithKey("xm") + $_size_mini;
      top: $_size_mini*0.5;
    }

    &.__vertical .yuumi-step-item .step-item__line {
      padding-top: getSpaceWithKey("xm") + $_size_mini;
      left: $_size_mini*0.5;
    }
  }
}