@import "../../../styles/mixin.scss";

$border-width: 6px;

.yuumi-popper {
  position: absolute;
  left: 0;
  top: 0;
  @include Level(2);
  @include BorderRadius();

  .popper__content {
    @include Border();
    @include BorderRadius();
    @include BackgroundColorWithKey("white");
  }

  .popper__arrow {
    position: absolute;
    width: 0px;
    height: 0px;
    border: $border-width solid transparent;

    &::after {
      content: '';
      border: $border-width solid transparent;
      display: block;
      position: absolute;
    }
  }

  &[data-popper-placement^=top] {
    .popper__arrow {
      @include BorderColorPartail($attr:"top", $key:"border");
      top: 100%;

      &::after {
        @include BorderColorPartail($attr:"top", $key:"white");
        left: -$border-width;
        top: -($border-width + 1px);
      }
    }
  }

  &[data-popper-placement^=bottom] {
    .popper__arrow {
      @include BorderColorPartail($attr:"bottom", $key:"border");
      top: -$border-width*2;

      &::after {
        @include BorderColorPartail($attr:"bottom", $key:"white");
        left: -$border-width;
        top: -($border-width - 1px);
      }
    }
  }

  &[data-popper-placement^=left] {
    .popper__arrow {
      @include BorderColorPartail($attr:"left", $key:"border");
      left: 100%;

      &::after {
        @include BorderColorPartail($attr:"left", $key:"white");
        left: -($border-width + 1px);
        top: -$border-width;
      }
    }
  }

  &[data-popper-placement^=right] {
    .popper__arrow {
      @include BorderColorPartail($attr:"right", $key:"border");
      left: -$border-width*2;

      &::after {
        @include BorderColorPartail($attr:"right", $key:"white");
        left: -($border-width - 1px);
        top: -$border-width;
      }
    }
  }
}
.yuumi-popper-enter-active, .yuumi-popper-leave-active {
  transition: opacity .2s;
}
.yuumi-popper-enter-from, .yuumi-popper-leave-to {
  opacity: 0;
}