@import "../../../styles/mixin.scss";

.yuumi-time-picker__popper {
  @include Shadow();
}

.yuumi-time-picker {
  display: inline-table;
  box-sizing: border-box;
  @include Border();
  @include BorderRadius();
  cursor: pointer;
  transition: border-color 0.3s;

  .picker__icon, .picker__content, .picker__suffix {
    display: table-cell;
    vertical-align: middle;
  }

  .picker__icon, .placeholder, .picker__suffix {
    @include ColorWithKey("placeholder");
  }

  .picker__content {
    .content-hyphen {
      @include Space("padding-left", "xm");
      @include Space("padding-right", "xm");
    }

    .content-time {
      min-width: 70px;
      display: inline-block;
      text-align: center;
    }
  }

  @each $key, $value in $--height {
    &.size__#{$key} {
      height: $value;

      .picker__icon, .picker__suffix {
        text-align: center;
        width: $value;
      }

      .picker__icon {
        font-size: $value*0.5;
      }
    }
  }

  &.__focus {
    @include BorderColorWithKey("primary");
  }

  &.__disabled {
    @include BorderColorWithKey("disabled");
    @include TextColor("secondary");
    cursor: no-drop;
    opacity: 0.5;
    user-select: none;
  }
}

.time-picker-btns {
  text-align: right;
  @include Border($attr: "border-top");
  @include Space("padding-top", "xxm");
  @include Space("padding-right", "sm");
  @include Space("padding-bottom", "xxm");
  @include Space("padding-left", "sm");

  >span {
    @include Space("margin-left", "sm");
    cursor: pointer;
    font-size: 14px;

    &:nth-child(2) {
      @include ColorWithKey("primary");
    }
  }
}