@import "../../../styles/mixin.scss";

.yuumi-cascader {
  display: inline-table;
  @include Border();
  box-sizing: border-box;
  @include BorderRadius();
  cursor: pointer;
  transition: border-color 0.3s;

  .cascader__label, .cascader__placeholder, .cascader__icon {
    display: table-cell;
    vertical-align: middle;
  }

  .cascader__label, .cascader__placeholder {
    @include Space("padding-left", "xm");
  }

  .cascader__placeholder {
    @include ColorWithKey("placeholder");
  }

  .cascader__icon {
    text-align: center;
    @include Space("width", "md");
    @include ColorWithKey("border");
    transition: transform 0.3s;
    line-height: 0;
  }

  &.__focus {
    @include BorderColorWithKey("primary");

    .cascader__icon.__arrow {
      transform: rotate(-180deg);
    }
  }

  &.__readonly {
    cursor: default;
  }

  &.__disabled {
    opacity: 0.5;
    cursor: no-drop;
  }

  @each $key, $value in $--height {
    &.size__#{$key} {
      height: $value;
      min-width: $value*3;
    }
  }

  @each $key in $--theme {
    &.theme__#{$key}  {
      @include BorderColorWithKey($key);
      @include ColorWithKey($key);

      .cascader__placeholder {
        @include AlphaColorWithKey($key, 0.5);
      }
    }
  }
}

.yuumi-cascader-menu {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  height: 216px;

  @each $key in $--theme {
    &.theme__#{$key}  {
      .menu-item.__active {
        @include ColorWithKey($key);
      }
    }
  }

  &:not(:first-child) {
    @include Border($attr: "border-left");
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      @include Space("padding-top", "xm");
      @include Space("padding-bottom", "xm");
      @include Space("padding-left", "sm");
      @include Space("padding-right", "lg");
      cursor: pointer;
    }
  }

  .menu-item {
    position: relative;

    &:hover {
      @include AlphaBackgroundColorWithKey("border", 0.5);
    }

    &.__active {
      @include AlphaBackgroundColorWithKey("border", 0.5);
      @include ColorWithKey("primary");
    }

    &.__disabled {
      opacity: 0.5;
      cursor: no-drop;
      background-color: transparent;
    }

    .item__icon {
      @include FontSize("xm");
      display: block;
      position: absolute;
      @include Space("right", "xm");
      top: 50%;
      transform: translateY(-50%);
    }
  }
}